.event-comments {
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 10px;
  }

  .event-comment {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    .comment-author {
      width: 100px;
    }
  }
}
